* {
  margin: 0;
  padding: 0;

  font-family: Lato;
}

body {
  background: #FAF8EB;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 5px solid;
  border-color: #6DC6B6;
}

a:hover {
  background-color: #6DC6B6;
}

#image a {
  border-bottom: none;
}

#image a:hover {
  background-color: transparent;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: lighter;

  line-height: 50px;

  letter-spacing: -1px;
}

#main h2 {
  padding-top: 10%;
  padding-bottom: 5%;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 25px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;

}

#sidebar h2 {

  font-size: 15px;

  letter-spacing: 1px;

  line-height: 20px;

  font-weight: lighter;

  padding-top: 10%;

}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
  
}

#sidebar li {
  font-size: 14px;
  line-height: 25px;
}

#sidebar a {
  border-bottom: none;
}

pre, code {
  font-family: monospace;
  background-color: #424242;
  color: white;
  width: 700px;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
